body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

a {
  color: #da5151;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
